# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelona.co  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/12/03 00:43:24 by alejhern          #+#    #+#              #
#    Updated: 2024/12/03 00:43:38 by alejhern         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

a.out
